 <div class='row'>
   <div class='col-9'>
    <h4 class='mb-2' style='color:rgb(120,120,120)'>{{course['title']}}</h4>
    <div><b>Teacher: </b>{{course['teacher']}}</div>
    <div><b>Topics: </b>{{course['topics']}}</div>
    <div><b>Duration: </b>{{course['duration']}}</div>
    <div><b>Price: </b>{{course['price']}}</div> 
  </div>
  <div class='col-3'>
    <a href="mailto:contact@astroworld.com?subject=Sign%20Up%20Course%20{{course['title']}}&body=Hi%20there%2C%0D%0AI'm%3A%20%3Cname%20and%20last%20name%3E%0D%0ABirth%20Date%3A%20%3Cbirth%20date%3E%0D%0ABirth%20Place%3A%20%3Cbirth%20place%3E%0D%0AI'd%20like%20to%20sign%20up%20to%20the%20course%2Fseminar%2Fwebinar%20{{course['title']}}." type="button" class="btn btn-outline-primary">Sign In</a>
  </div>  
  <hr />
 </div>