<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#courses-section">Courses</a>
  </li>
  <li class="nav-item">
    <a href="mailto:contact@astroworld.com?subject=Please%20send%20me%20information&body=Hi%20there%2C%20I'm%20%3Cname%20and%20last%20name%3E%20and%20I'd%20like%20to%20receive%20information%20about%20your%20courses." class="nav-link">Contact</a>
  </li>
</ul>